.viewParentDiv {
  padding-top: 4em;
  display: flex;
}
.viewParentDiv .imageShowDiv {
  padding: 16px;
  width: 70vw;
}
.viewParentDiv .imageShowDiv img {
  width: 65vw;
  height: 85vh;
}

.viewParentDiv .rightSection {
  padding: 16px;
  margin-top: 3em;
  width: 30vw;
}

.btn-back{
  width: 200px;
  height: 50px;
  margin-top: 2rem;
  border-radius: 5px;
  background-color:#1180FF;
  color: #fff;
  font-size: larger;
  border: none;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.viewParentDiv .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.viewParentDiv .rightSection .productDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 2em;
  width: 100%;
}

.viewParentDiv .rightSection .productDetails span,p{
  text-transform: capitalize;
}

.viewParentDiv .rightSection .contactDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
}

.viewParentDiv .rightSection .contactDetails :first-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  padding: 0;
}

.chat-div{
  max-width: 25rem;
  min-height: 15rem;
  margin-left: auto;
}



@media(max-width:600px){
  .btn-back{
    width: 100px;
    height: 35px;
    font-size: 14px;
  }
}