.centerDiv {
    border: 1px solid black;
    width: max-content;
    padding: 30px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }

  .centerDiv form{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
  }
  
  .uploadBtn {
    margin-top: 30px;
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
  }
  .uploadBtn:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .btn-img{
    object-fit: contain;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
  }